<div class="content">

  <form class="form box-shadow" action="/" method="post" (ngSubmit) = "submitSession()" >

    <h2 class="title blue"> Log in </h2>

    <div class="field">
      <label class="black" for="email"> Add email </label>
      <input type="email" [(ngModel)]="user.email" name="email" id="email" placeholder="Email">
    </div>

    <div class="field">
      <label class="black" for="password"> Add password </label>
      <input type="password" [(ngModel)]="user.password" name="password" id="password" placeholder="Password">
    </div>

    <button class="btn" type="submit"> Log in </button>
  
  </form>

</div>
