.container {
  display: grid;
  grid-template-areas: 'header    header    header'
                       'main      main      main'
                       'footer    footer    footer';
}

.header {
  grid-area: header;
  background: transparent;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
}


.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.main {
  grid-area: main;
  justify-self: center;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 0;
}

.footer {
  grid-area: footer;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.footer .by {
  text-align: end ;
}

.btn {
  border: none;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
}