<div class='content'>
  
  <!-- Titulo -->
  <h2 class="title"> Articulos </h2>

  <!-- Formulario -->
  <form class="form box-shadow" action="/" method="POST" (ngSubmit)="createOrEditArticle()">
    
    <!-- Contenido para agregar título -->
    <div class=field>
      <label for="title"> Add Title </label>
      <input type="text" id="title" [(ngModel)]="selectArticle.title" name="title" placeholder="Title">
    </div>

    <!-- Contenido para agregar descripcion -->
    <div class="field">
      <label for="description"> Add Description </label>
      <textarea class="min-5" name="description" id="description" [(ngModel)]="selectArticle.description" placeholder="Description"></textarea>
    </div>

    <!-- Contenido para agregar contenido -->
    <div class="field">
      <label for="content"> Add Content </label>
      <textarea class="min-10" name="content" id="content" [(ngModel)]="selectArticle.content" placeholder="content"></textarea>
    </div>

    <!-- Botón para guardar artículo -->
    <button class="btn" type="submit" > Save </button>
    <!-- Botón para eliminar artículo, activo en caso de editar un artículo -->
    <button  
      class="btn danger" 
      type="button" 
      *ngIf="selectArticle._id != 0" 
      (click)="deleteAricle()" 
    > 
      Delete 
    </button>
    <!-- Botón para ingresar nuevo artículo, activo en caso de editar un artículo -->
    <button 
      class="btn success" 
      type="button" 
      *ngIf="selectArticle._id != 0"
      (click)="cleanSelectArticle()" 
    > 
      New 
    </button>
  </form>

  <!-- Contenido que muestra todos los artículos -->
  <div class="articles">
    <button 
      class="btn box-shadow" 
      *ngFor="let article of articles"
      (click)="openForEdit(article)"
      [class.active] = "article == selectArticle"
    >
      <!-- Componente que muestra informacion artículo -->
      <app-article-tag [article]="article" ></app-article-tag>
    </button>
  </div>
</div>